.signup__headerImage
{
    height: 45px;
    margin: auto;
}

.signup__form
{
    margin: auto;
    width: 65%;    
}
.signup__formField
{    
    padding: 5px;
    width: 100%;
}
.signup__formField button
{
    width: 100%;
}

.signup__headerImageSection
{
    margin: auto;
    width: 50%;
}